<div class="article-sidebar-content">
    <section class="widget">
        <div class="widget-header">
            <h3>Share</h3>
            <div class="widget-divider"></div>
        </div>
        <div class="share-buttons">
            <a href="#" class="share-btn facebook" title="Share on Facebook">f</a>
            <a href="#" class="share-btn twitter" title="Share on Twitter">𝕏</a>
            <a href="#" class="share-btn linkedin" title="Share on LinkedIn">in</a>
            <a href="#" class="share-btn email" title="Share via Email">✉</a>
        </div>
    </section>
    {{> trending-widget}}
    {{> newsletter-widget}}
</div>
