<section class="newsletter-widget widget">
    <div class="widget-header">
        <h3>Newsletter</h3>
        <div class="widget-divider"></div>
    </div>
    <div class="widget-body">
        <p>Get the latest news delivered to your inbox.</p>
        <form class="newsletter-form" data-members-form>
            <input type="email" name="email" placeholder="Your email" required />
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
        <p class="newsletter-privacy">We respect your privacy.</p>
    </div>
</section>
